* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendar-container {
    width: 100%;
    height: 100%;
}

.calendar-header {
    width: 100%;
    height: 10%;
}

.month-slider {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-month {
    margin: 0 15px;
}

.week-header {
    width: 100%;
    height: 40%;
    display: flex;
}

.day-of-week {
    width: 14.28%;
    height: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.calendar-body {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

.calendar-day {
    width: 14.28%;
    height: 20%;
    border-width: 1.5px;
    border-style: solid;
}